/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav li {
    display: inline;
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}

.perfil {
    text-align: center;
    padding: 20px 0;
}

.perfil-content {
    display: flex;
    align-items: center;
}

.perfil-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.informacion-personal {
    margin-top: 20px;
    text-align: left;
}

.experiencia {
    padding: 20px 0;
}

.experiencia article {
    margin-bottom: 20px;
}

.educacion {
    padding: 20px 0;
}

.certificaciones {
    padding: 20px 0;
}

.habilidades {
    padding: 20px 0;
}

.habilidades ul {
    list-style-type: none;
    padding-left: 0;
}

.habilidades ul li {
    margin-bottom: 10px;
}

.idiomas {
    padding: 20px 0;
}

.intereses {
    padding: 20px 0;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.redes-sociales a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.redes-sociales a:hover {
    text-decoration: underline;
}

.perfil-content {
    display: flex;
    align-items: center;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Alinea el título a la izquierda y los botones a la derecha */
    align-items: center; /* Centra verticalmente el contenido del encabezado */
}

.titulo-izquierda {
    text-align: left; /* Alinea el título a la izquierda */
}

.nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right; /* Alinea los botones de navegación a la derecha */
}

.nav li {
    display: inline;
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}
.perfil-img {
    width: 100px; /* Tamaño del contenedor de la imagen de perfil */
    height: 100px; /* Tamaño del contenedor de la imagen de perfil */
    border-radius: 50%; /* Aplica el estilo de círculo al contenedor */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el contenedor circular */
    margin-right: 20px; /* Espacio a la derecha del contenedor de la imagen */
}

.perfil-img img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor circular */
    height: auto; /* Mantener la relación de aspecto original */
    object-fit: cover; /* Ajusta la imagen para que se ajuste al contenedor circular */
}